@import "../variables.scss";

.skills {
  padding-top: 91px;
  padding-bottom: 110px;

  background: $white;

  &__star_black {
    fill: $black;
  }

  &__star_white {
    fill: $grey;
  }

  &__title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }

  &__description {
    margin-top: 70px;

    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  &__programs {
    margin-top: 83px;

    display: flex;
    justify-content: space-between;

    &__item {
      text-align: center;
      // display: flex;
      // justify-content: center;
      &__title {
        margin-top: 23px;

        font-family: Gilroy-Bold;
        font-size: 14px;
        line-height: 17px;

        color: $grey;
      }
      &__stars {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
