@import "../variables.scss";

.user-info {
  background: $white;
  $nav-height: 60px;

  &__navigation {
    height: $nav-height;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $black;

    &__link {
      font-family: "Gilroy-Bold";
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
    }
  }

  &__container {
    margin-top: 40px;
    margin-bottom: 105px;

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &__name {
        font-family: "Gilroy-Bold";
        font-weight: bold;
        font-size: 47.3392px;
        line-height: 59px;
      }
      &__common {
        font-family: "Gilroy-Medium";
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__image {
      margin-top: 50px;
    }
  }
}
